SECRET_KEY=change-this-secret-key
JWT_SECRET_KEY=change-this-jwt-key
DATABASE_URL=sqlite:///onia.db
APPROVAL_GOAL=200
FLASK_ENV=development
EDUSPACE_EMAIL=hub2ia_2onia@eduspace.com.br
EDUSPACE_PASSWORD=hub2i@
